
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


footer .foot {
    background-color: #DDDDDD;
}

.home {
    width: 100%;
    height: 80vh;
    color: white;
    background-image: url(../img/FotoHome.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: dimgrey;
    position: absolute;
    opacity: 0.4;
}

.btnHome {
    position: relative;
    height: 70px;
    width: 150px;
    
}
/*nav lateral*/
.icono-menu {
    margin: 40px 50px;
    position: relative;
}

.arrowLeft {
   width: 80px; 
  height: 80px;
  cursor: pointer;
} 


.icono-menu img {
    vertical-align: top;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.card-menu {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #f3e9d2;
}

.img-card-menu {
    width: 90px;
    height: 90px;
}

.cont-menu {
    background-color: grey;
    box-shadow: 2px 0px 5px 2px grb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index:1;
}

    .cont-menu ul {
        padding: 10px 0px 20px 0px;
        list-style: none;
    }

        .cont-menu ul li a {
            color: white;
            display: block;
            font-size: 25px;
            text-decoration: none;
            padding: 10px 50px;
            cursor: pointer;
        }

            .cont-menu ul li a:hover {
                color: black;
            }

            .cont-menu ul li:hover {
                background-color: rgb(228, 228, 228);
                color: rgb(42,42,42)
            }

            .cont-menu ul li .item-nav {
                text-decoration: none;
            } 


    .active {
        transform: translate(-600px);
    }

.opacity {
    background-color: rgba(0,0,0,0.5);
    transition: all .5s ease;
}
 
/*Fin Nav lateral*/

th {
   font-weight: normal;
}

.error-form {
    font-size: 15px;
    color: red
}


/*POPUP*/

.modal-contenedor, .modal-contenedor2 {
    position: fixed;
    width: 100vw;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    transform: translate(0,0);
}

    .modal-contenedor.active, .modal-contenedor2.active {
        display: flex;
    }


.modales {
    
    max-width: 500px;
    width: 90%;
    height: auto;
    padding: 25px;
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
}



.modales-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

    .modales-header .titulo2 {
        font-size: 1.25rem;
        font-weight: bold;
        color: forestgreen; 
    }

    .modales-header .titulo {
        font-size: 1.25rem;
        font-weight: bold;
    }



    .modales-body {
        padding: 10px 15px;
        text-align: center;
       /* display: flex;
        justify-content: center;
        align-items: center;*/
    }

.modales-body2 {
    padding: 10px 15px;
    text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
} 




#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }  





    .labels{
        font-size: 30px; 
        color:darkgreen;
    }

.label-turno {
    color: darkgreen;
}

.label-turno2 {
    color: purple;
} 

 /*spinner*/

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}








